{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "Q": true,
    "R": true,
    "angular": true,
    "chai": true,
    "expect": true,
    "getService": true,
    "inject": true,
    "ionic": true,
    "moment": true,
    "sinon": true,
    "xit": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "no-var": true
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "block-spacing": 2,
    "brace-style": [2, "1tbs"],
    "camelcase": 2,
    "callback-return": 2,
    "computed-property-spacing": [2, "never"],
    "curly": 2,
    "dot-notation": 2,
    "eol-last": 2,
    "eqeqeq": [2, "smart"],
    "max-len": [2, 80],
    "no-extra-parens": 1,
    "no-floating-decimal": 2,
    "no-inner-declarations": 2,
    "no-multiple-empty-lines": 2,
    "no-redeclare": 2,
    "no-spaced-func": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-use-before-define": 2,
    "no-use-before-define": [2, "nofunc"],
    "no-warning-comments": 0,
    "one-var": [2, "never"],
    "quotes": [2, "single"],
    "semi": 2,
    "semi": [2, "always"],
    "sort-vars": 2,
    "space-after-keywords": 2,
    "space-after-keywords": [2, "always"],
    "space-infix-ops": 2,
    "strict": [2, "global"],
    "valid-jsdoc": 0
  }
}
